<h1 style="color: red; text-align: center;">¿QUIENES SOMOS?</h1>
<p>CELUQUITO es una empresa ecuatoriana, dedicada a la venta de smartphones, gadgets y tecnología, con una amplia
    experiencia en el mercado de móviles y la atención al cliente.</p>

<p>•Nuestra misión es consolidarnos como una marca de confianza, humana, de alto valor para todos nuestros clientes y
    sus bolsillos.</p>
<p>En CeluQuito , los valores, como la responsabilidad, honestidad, lealtad, esfuerzo y empatía, son virtudes que
    nuestro
    equipo aplica día a día con todos nuestros clientes y compañeros.</p>
<p>Es por eso que en CeluQuito puedes estar seguro que no solo encontraras el producto que necesitas, si no también la
    atención y empatía para hacer de tu compra en Smartshop una agradable experiencia.
</p>
<h1 style="color: red; text-align: center;">SOSTENIBILIDAD</h1>
<p>Actualmente, un celular tiene una vida útil de más de 7 años, aunque solo por moda se cambian/desechan en menos de 2
    años, generando desperdicio electrónico y un alto impacto en el medio ambiente al contaminar miles de lt de agua 😭
    pero como somos amigos del medio ambiente👌 y nos tomamos muy en serio lo que podemos hacer por él 🌿 hemos
    fundamentado nuestro negocio en la economía circular, mejor explicada con nuestras cuatro R’s:</p>
<p>1-Que nuestros clientes REPIENSEN al comprar celular y hagan una adquisición inteligente.</p>
<p>2-Le damos una segunda vida útil a equipos en perfecto estado (RECUPERAR)...</p>
<p>3-Para que sean REUTILIZADOS, disminuyendo el impacto ambiental.</p>
<p>4-Somos responsables y creamos empaques 100% RECICLABLES.</p>
<h1 style="color: red; text-align: center;">SEGURIDAD</h1>
<p>Sabemos que la confianza es lo más importante en una relación 💪 por eso para garantizarte que estás comprando un
    smartphone de buena procedencia, lo revisamos en www.imeicolombia.com.co, una plataforma donde permite consultar a
    partir del IMEI (número único de identificación del celular) si está bloqueado o reportado en alguna base de datos
    negativa...así que no te preocupes 😌, tranquilo, tu nuevo celular esta más que limpio.</p>

<div style="text-align: center;">
    <h5 style="color: red;">MAPA</h5>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46796.98316449371!2d-78.54778288677194!3d-0.19131624909727787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b22f1c1c093%3A0x4a612cd84cd46ee!2sCelular%20Quito%20Store!5e1!3m2!1ses-419!2sec!4v1699664287841!5m2!1ses-419!2sec"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>