<div class="container-fluid">
  <div class="row">
    <div class="grid text-center">
      <!-- Barra de Navegación Vertical -->
      <div class="g-col-6 g-col-md-4 navbar2 border-right">
        <nav class="navbar-vertical">
          <a href="#" class="nav-link" (click)="marcaSeleccionada('Apple')">Apple</a>
          <a href="#" class="nav-link">Samsung</a>
          <a href="#" class="nav-link">OnePlus</a>
          <a href="#" class="nav-link">Xiaomi</a>
          <a href="#" class="nav-link">Google</a>
          <a href="#" class="nav-link">Huawei</a>
          <a href="#" class="nav-link">Sony</a>
          <a href="#" class="nav-link">Motorola</a>
          <a href="#" class="nav-link">LG</a>
          <a href="#" class="nav-link">Nokia</a>
        </nav>
      </div>
      <!-- Catálogo de Celulares -->
      <div class="g-col-6 g-col-md-4 catalogo">
        <div class="container mt-4 text-center">
          <h2>Nuestra seleccion de productos</h2>
        </div>
        <div class="container mt-4">
          <div class="row">
            <div *ngFor="let celular of dataCelulares; let i = index" class="col-md-3 mb-4">
              <div class="card border-secondary" style="max-width: 20rem;">
                <div class="card-header">{{ celular['marca'] }}</div>
                <div class="card-body">
                  <h4 class="card-title">{{ celular['modelo'] }}</h4>
                  <p class="card-text">Precio: ${{ celular['precio'] }}</p>
                  <img [src]="celular['imagen_url']" class="card-img-top img-fluid" style="width: 100%; height: 300px;"
                    alt="{{ celular['modelo'] }}">
                  <div class="container text-center mt-4">
                    <!-- Use 'key' property for routerLink -->
                    <a [routerLink]="['/detalleProducto', celular['key']]" class="btn btn-primary">Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container mt-4">
          <div class="row">
            <div *ngFor="let celular of celularesPorMarca; let i = index" class="col-md-3 mb-4">
              <div class="card border-secondary" style="max-width: 20rem;">
                <div class="card-header">{{ celular['marca'] }}</div>
                <div class="card-body">
                  <h4 class="card-title">{{ celular['modelo'] }}</h4>
                  <p class="card-text">Precio: ${{ celular['precio'] }}</p>
                  <img [src]="celular['imagen_url']" class="card-img-top img-fluid" style="width: 100%; height: 300px;"
                    alt="{{ celular['modelo'] }}">
                  <div class="container text-center mt-4">
                    <!-- Use 'key' property for routerLink -->
                    <a [routerLink]="['/detalleProducto', celular['key']]" class="btn btn-primary">Detalles</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>