<!-- registro.component.html -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center mb-4">Formulario de Registro</h2>
          </div>
          <div class="card-body">
            <!-- The form starts here -->
            <form #registroForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                  <label for="nombreUsuario">Nombre de Usuario:</label>
                  <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nuevoUsuario.nombreUsuario" required (change)="checkUsername()">
                  <!-- Display error message if username exists -->
                  <div *ngIf="usernameExists" class="text-danger">
                    Este nombre de usuario ya está en uso.
                  </div>
                </div>
                <div class="form-group">
                  <label for="correo">Correo Electrónico:</label>
                  <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="nuevoUsuario.correo" required (change)="checkEmail()">
                  <!-- Display error message if email exists -->
                  <div *ngIf="emailExists" class="text-danger">
                    Este correo electrónico ya está registrado.
                  </div>
                </div>
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.nombre"
                  required>
              </div>
              <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="nuevoUsuario.direccion"
                  required>
              </div>
              <div class="form-group">
                <label for="telefono">Teléfono:</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="nuevoUsuario.telefono"
                  required>
              </div>
              <div class="form-group">
                <label for="clave">Clave:</label>
                <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="nuevoUsuario.clave"
                  required>
              </div>
  
              <div class="container text-center">
                <!-- Disable the button if the form is not valid -->
                <button type="submit" class="btn btn-primary btn-block mt-4 mb-4" [disabled]="!registroForm.form.valid">
                  Registrarse
                </button>
              </div>
  
              <!-- Display a message if the form is not valid -->
              <ng-container *ngIf="!registroForm.form.valid; else datosLlenos">
                <h2 class="text-center mb-4" style="color: rgb(204, 109, 109);">
                  Se deben llenar todos los datos.
                </h2>
              </ng-container>
              <ng-template #datosLlenos>
                <h2 class="text-center mb-4" style="color: rgb(34, 92, 34)">
                  Todos los datos llenos.
                </h2>
              </ng-template>
            </form>
            <!-- The form ends here -->
          </div>
        </div>
        <!-- Additional text and link -->
        <p class="text-center mt-3">¿Ya tienes cuenta? <a href="/login">Presiona aquí</a></p>
      </div>
    </div>
  </div>