<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">Formulario de Registro</h2>
        <!-- El formulario comienza aquí -->
        <form #registroForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombreUsuario">Nombre de Usuario:</label>
            <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nuevoUsuario.nombreUsuario" required>
          </div>
             <div class="form-group">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="nuevoUsuario.correo" required>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nuevoUsuario.nombre" required>
          </div>
          <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="nuevoUsuario.direccion" required>
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="nuevoUsuario.telefono" required>
          </div>
          <div class="form-group">
            <label for="clave">Clave:</label>
            <input type="password" class="form-control" id="clave" name="clave" [(ngModel)]="nuevoUsuario.clave" required>
          </div>
       
          <div class="container text-center">
            <button type="submit" class="btn btn-primary btn-block mt-4 mb-4">Registrarse</button>
          </div>
        </form>
        <!-- El formulario termina aquí -->
      </div>
    </div>
  </div>