<div class="container mt-4">
    <h1 class="text-center">Carrito de Compras</h1>
  
    <div class="row mt-4">
      <div class="col-md-12 mb-4" *ngFor="let item of carritoData">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img [src]="item.info.imagen_url" class="card-img" alt="{{ item.info.modelo }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ item.info.marca }} {{ item.info.modelo }}</h5>
                <p class="card-text">Precio: ${{ item.info.precio }}</p>
                <p class="card-text">Cantidad: {{ item.unidades }}</p>
                <button class="btn btn-danger" >Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Botón Realizar Pedido -->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <button class="btn btn-primary" (click)="realizarPedido()">Realizar Pedido</button>
      </div>
    </div>
  
    <!-- Costo Total -->
    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <h4>Costo Total: ${{ calcularCostoTotal() }}</h4>
      </div>
    </div>
  </div>