<div class="container mt-4">
    <h1 class="text-center">Carrito de Compras</h1>

    <div class="container mt-5">
        <h2>Lista de Productos</h2>
        
        <table class="table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="eliminarProducto(producto.id)">Eliminar</button>
                <button class="btn btn-primary btn-sm" (click)="aumentarCantidad(producto.id)">+</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    <!-- Botón Realizar Pedido -->
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary">Realizar Pedido</button>
        </div>
    </div>

    <!-- Costo Total -->
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <h4>Costo Total: $1699.98</h4>
        </div>
    </div>
</div>